.menu {
    pointer-events: none;
    &__title {
        @include screen-x(500px) {
            display: none;
        }
    }
    &__head {
        @include screen-x(500px) {
            width: 100%;
        }
    }
    &__social {
        @include screen-x(500px) {
            margin: auto;
        }
    }
    &__social-item {
        @include screen-x(500px) {
            margin-left: 10px;
            margin-right: 10px;
        }
    }
    &__overlay {
        position: fixed;
        top: 0;
        z-index: 11;
        background: transparent;
    }
    &__content {
        position: fixed;
        top: -100%;
        z-index: 12;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.7);
    }
    &--opened {
        pointer-events: auto;
        .menu__overlay {
            background: rgba(255, 255, 255, 0.7);
        }
        .menu__content {
            top: $navbar-height;
        }
        .navbar__underline {
            opacity: 0;
        }
    }
    &__separator {
        height: 1px;
        background: rgb(200, 200, 200);
    }
    &__underline {
        width: 0;
        height: 3px;
        box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.7);
    }
    &__item {
        &:hover {
            .menu__underline {
                width: 100%;
            }
        }
    }
    &__link {
        display: block;
        &:hover {
            color: $color-theme;
        }
    }
    &__list {
        @include screen-x(800px) {
            flex-direction: column;
            justify-content: initial;
            align-items: center;
        }
    }
}