.navbar {
	height: $navbar-height;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 13;
	box-shadow: none;

	&__title {
		@include screen-x(400px) {
			width: 40px;
			height: 40px;
		}
		.image {
			box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
			@include screen-x(400px) {
				height: 40px;
			}
		}
		.title {
			text-shadow: 1px 1px 3px black;
		}
	}

	&__trigger {
		display: none;
		@include screen-x(1000px) {
			display: flex;
			justify-content: center;
			align-items: center;
			border: 3px white solid;
			box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
			@include screen-x(400px) {
				width: 40px;
				height: 40px;
			}
			&:hover {
				background: white;
				color: $color-theme;
				font-size: 2em;
			}
			&:active {
				font-size: 1em;
			}
		}
	}

	&__section {
		@include screen-x(1000px) {
			display: none;
		}
	}

	&__section-underline {
		width: 0;
		height: 5px;
		background: white;
		position: absolute;
		bottom: 0;
		box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
	}

	&__section-item {
		position: relative;
		@include screen-x(1100px) {
			margin-left: 20px;
		}
		&:hover {
			.navbar__section-underline {
				width: 100%;
			}
		}
	}

	&__underline {
		position: absolute;
		left: 0;
		right: 0;
		margin: auto;
		bottom: 0;
		height: 1px;
		box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.7);
		background: rgba(180, 180, 180);
	}

	&--opaque {
		background: $color-theme;
		box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.7);
		.navbar__underline {
			opacity: 0;
		}
	}
}