.footer {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.7);
    &__content {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-auto-rows: auto;
        grid-gap: 20px;
        @include screen-x(1050px) {
            grid-template-columns: repeat(2, 1fr);
            height: auto;
        }
        @include screen-x(700px) {
            grid-template-columns: repeat(1, 1fr);
            height: auto;
        }
        @include screen-x(400px) {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
        }
    }
    &__item {
        width: 100%;
        @include flex-col(initial, initial);
        @include screen-x(1050px) {
            height: 320px;
        }
        &:last-child {
            @include screen-x(1050px) {
                width: 100%;
            }
        }
        .map {
            background: rgb(220, 220, 220);
            &>div {
                width: 100%;
                height: 100%;
                z-index: 0;
            }
        }
        .link {
            &:hover {
                color: $color-theme;
            }
        }
        .calendar {
            flex: 1;
        }
        .button {
            border-radius: 0 5px 5px 0;
            width: 124px;
            padding-left: 0;
            padding-right: 0;
        }
        .input {
            flex: 1;
            border-radius: 5px 0 0 5px;
            background: rgba(240, 240, 240);
            @include screen-x(350px) {
                padding-left: 5px;
                padding-right: 5px;
            }
        }
        .icon {
            @include screen-x(300px) {
                display: none;
            }
        }
    }
    &__box {
        flex-grow: 1;
    }
    &__title {
        @include screen-x($screen-md) {
            font-size: 12pt;
        }
    }
}

.copyright {
    @include screen-x($screen-md) {
        @include flex-col(center, center)
    }
}

.leaflet-default-icon-path {
    background-image: url(https://unpkg.com/leaflet@1.7.1/dist/images/marker-icon.png);
}

.leaflet-container {
    width: 100%;
    height: 100%;
}