.cover {
    background: url(/images/content/275254460_642042706906040_3716802057775517984_n.jpg) center center no-repeat;
    background-size: cover;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.7);

    &__overlay {
        background: rgba(0, 0, 0, 0.3);
        margin: 0;
        height: 100vh;
        overflow: hidden;
    }

    &__content {
        margin-top: 76px;
        height: calc(100vh - 76px);
    }

    &__discover {
        border: none;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.7);
        &:hover {
            background: darken($color-theme, 10%);
        }
        &:active {
            background: lighten($color-theme, 10%);
        }
    }

    &__title {
        flex: 1;
        text-shadow: 1px 1px 3px black;
        @include screen-x(900px) {
            text-align: center;
        }
        @include screen-x(600px) {
            font-size: 3em;
        }
    }

    &__activities {
        @include screen-x(1100px) {
            width: 40%;
        }
        @include screen-x(900px) {
            display: none;
        }
    }

    &__box {
        width: calc(100% - 20px);
        min-height: 450px;
        background: rgba(0, 0, 0, 0.8);
        // @include screen-x(1100px) {
        //     max-height: 500px;
        // }
    }

    &__info-separator {
        width: calc(100% - 40px);
        height: 1px;
        background: white;
    }

    &__info-description {
        color: rgb(200, 200, 200);
        height: 90px;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    &__info-image {
        width: calc(100% - 40px);
    }
}