.cover {
    background: url(/images/cover/home.jpg) center center no-repeat;
    background-size: cover;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.7);

    &__overlay {
        background: rgba(0, 0, 0, 0.3);
    }
}