.donation {
    padding-top: 96px;
    padding-bottom: 96px;

    .container {
        flex-direction: column;
    }

    &__box {
        flex: 1;
    }

    &__item {
        box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
    }
}