.section-title {
    padding-top: $navbar-height;
    &__icon {
        transform-style: preserve-3d;
        animation: 5s animFlip linear infinite;
        animation-delay: 2.3s;
        @keyframes animFlip {
            from {
                transform: rotate3d(0, 1, 0, 0deg);
            }
            to {
                transform: rotate3d(0, 1, 0, 360deg);
            }
        }
    }
    .title {
        @include screen-x(600px) {
            font-size: 2em;
        }
    }
}